.fa-heart-o {
    color: red;
    cursor: pointer;
}

.fa-heart {
    color: red;
    cursor: pointer;
}

.fa-position-bottom-right {
    position: absolute;
    bottom: 0;
    padding-left: 5px;
}

.share-left-position {
    position: absolute;
    z-index: 1;
    right: 0;
    padding-right: 23px;
    padding-top: 4px;
}